*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px 50px;
}
button{
    padding: 15px;
    font-size: 25px;
}
.classic{
    background: black;
    color: white;
}
.fancy{
    background: yellow;
    color: black;
}